.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: SlateGrey;
}

.flex-box-left {
    width: 250px;
    height: 250px;
    background-color: #6bf2d8;
    text-align: center;
}

.flex-box-left > p {
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 20px;
    word-wrap: break-word;
}

.flex-box-center {
    width: 250px;
    height: 250px;
    background-color: #ff424e;
    text-align: center;
}

.flex-box-center > p {
    color: #eef;
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 20px;
    word-wrap: break-word;
}

.flex-box-right {
    width: 250px;
    height: 250px;
    background-color: #49c972;
    text-align: right;
}

.flex-box-right > p {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 50px;
    word-wrap: break-word;
}

.flex-box-left > img,
.flex-box-center > img,
.flex-box-right > img {
    width: 250px;
    height: 250px;
    background-color: #38444e;
}

.flex-three {
    margin-left: 1em;
    margin-right: 1em;
}

@media (max-width: 992px) {
    .flex-box-left {
        flex-basis: 25%;
        background-color: #6bf2d8;
    }

    .flex-box-center {
        flex-basis: 25%;
        background-color: #ff424e;
    }

    .flex-box-right {
        flex-basis: 25%;
        background-color: #49c972;
    }
}

@media (max-width: 640px) {
    .flex-box-left {
        flex-basis: 50%;
        background-color: #6bf2d8;
    }

    .flex-box-center {
        flex-basis: 50%;
        background-color: #ff424e;
    }

    .flex-box-right {
        flex-basis: 50%;
        background-color: #49c972;
    }
}