<div class="container">
    <div class="flex-container clearfix mb-5">
        <div class="text-center p-5 rounded">
            <h2 class="section-heading mb-4">
                <span>Why am I doing this?!</span>
            </h2>
			<div class="flex-container">
			<div class="flex-box-left midnight-blue"><img src="../img/captured.jpg"></div>
            <p class="flex-box-center maroon">I am trying to improve my programming skills like Javascript, Angular.js, Node.js and
                Typescript
                'nevertheless sometimes it feels painful to find a good start.
            </p>
            <p class="flex-box-right sea-green">
                Perchance Github Pages could be a good step on
                'working with these Programming Languages.
            </p>
        </div>
    </div>
</div>
</div>
<div id="back-beach">test</div>
<div class="container">
	<div class="flex-container clearfix">
            <p class="mt-4"> Hey villain... have you ever heard these words? <span class="big">GO BEYOND!! PLUS ULTRA!!!</span>
            </p>
	</div>
</div>