<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="../js/moment.js"></script>
    <script src="../js/zeitstempel.js"></script>
</head>
<body>
<div class="flex-container">
    <div class="container">
        <p>Right now it is: <span id="oneDay"></span></p>

        <p>You started at: <span id="span_start"></span></p>
        <button id="btn_start">START</button>

        <p>You ended at: <span id="span_end"></span></p>
        <button id="btn_end">STOP</button>

        <p>Time needed: <span id="span_duration"></span></p>
        <button id="btn_duration">DURATION</button>
    </div>
</div>
<script>
    function oneDay() {
        var a = moment().format('dddd, MMMM Do YYYY, h:mm:ss a');
        ;
        console.log(a);
        document.getElementById("oneDay").innerHTML = a;
    }

    oneDay();
    setInterval(oneDay, 1000);
</script>
<script>
    document.getElementById('btn_start').addEventListener("click", start);
    document.getElementById('btn_end').addEventListener("click", end);
    document.getElementById('btn_duration').addEventListener("click", duration);
    var start;
    var end;

    function start() {
        var a = moment().format("HH mm ss");
        document.getElementById("span_start").innerHTML = a;
        return start = a;
    }

    function end() {
        var b = moment().format("HH mm ss");
        document.getElementById("span_end").innerHTML = b;
        return end = b;
    }
    function duration(start, end) {
        console.log(start, end);
        var x = document.getElementById("span_start").innerHTML;
        var y = document.getElementById("span_end").innerHTML;

    }
</script>
</body>
</html>